body {
    background-color: aquamarine;
}
main{
     display: grid;
    width: 100vw;
    height: 100vh;
    grid-template:
    [header-left]'supplies supplies' 10vh [header-right]
    [main-left]' performance localeInfo' 25vh [main-right]
    [main-middle-left]'performance simulation'10vh[main-middle-right]
    [main-left]'settings simulation' 40vh [main-right]
    [footer-left]'settings simulation' 15vh [footer-right]
}
.status-bar{
    grid-area: supplies;
    display: flex;
    justify-content: space-around;
}
.performance {
    grid-area: performance;
}
.settings{
    grid-area: settings;
}
.locale-info{
    grid-area: localeInfo;
}
.locale-simulation{
    grid-area: simulation;
}