body{
    background-color: aquamarine;
}
main {
    
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template:
    [header-left]'topButtons playerStats' 10vh [header-right]
    [main-left]'modal localeData' 25vh [main-right]
    [main-middle-left]'modal localPicture'10vh[main-middle-right]
    [main-left]'modal localePicture' 40vh [main-right]
    [footer-left]'bottomButtons localeFlavorText' 15vh [footer-right]
    


}
.button-container{
    grid-area: topButtons;
    display: flex;
    justify-content:stretch;
    align-items: flex-start;
    
}
.button-container> button{
    font-size: x-large;
    padding: 2vh 2vw;
}

.player-information{
    border: 0.5vh black;
    grid-area: playerStats;
    display: flex;
    justify-content: center;
    align-items:flex-start ;
}

ul{
    list-style: none;
}
.inventory-list > li{
    display: inline;
    margin: 0 1vw;
}
.info {
    grid-area: localeData;
    
}
.picture{
    grid-area: localePicture;
    
}
.current-location{
    position: relative;
    /* right: 1%;
    top: 60%; */
}

.flavor-text {
    grid-area: localeFlavorText;
}

.modal-container{
    grid-area: modal;
    /* height: 65em;
    width: 65em; */
}
.bottom-button-container{
    grid-area: bottomButtons;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.bottom-button-container>button{
    font-size: xx-large;
    padding: 2vh 2vw;
    margin: 0vh .5vw;
}
.stats-modal{
    display: none;
    background-color: black;
    border-radius: 4vh;
    box-shadow: 4vh 1vw 10vh 0vw #dadada;
    text-align: center;
    transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: rgb(17, 214, 221);
}
.rent-modal{
    display: none;
        background-color: black;
        border-radius: 4vh;
        box-shadow: 4vh 1vw 10vh 0vw #dadada;
        text-align: center;
        transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        color: rgb(17, 214, 221);
}
.game-specific-buttons > button{
    font-size: x-large;

}
.local-pic{
    max-width: 5em;
    max-width: 5em;
}
.upgrades-modal{
    display: none;
        background-color: black;
        border-radius: 4vh;
        box-shadow: 4vh 1vw 10vh 0vw #dadada;
        text-align: center;
        transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        color: rgb(17, 214, 221);
}
.staff-modal{
    display: none;
        background-color: black;
        border-radius: 4vh;
        box-shadow: 4vh 1vw 10vh 0vw #dadada;
        text-align: center;
        transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        color: rgb(17, 214, 221);
}
.marketing-modal{
    display: none;
        background-color: black;
        border-radius: 4vh;
        box-shadow: 4vh 1vw 10vh 0vw #dadada;
        text-align: center;
        transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        color: rgb(17, 214, 221);
}
.recipe-modal{
    display: none;
        background-color: black;
        border-radius: 4vh;
        box-shadow: 4vh 1vw 10vh 0vw #dadada;
        text-align: center;
        transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        color: rgb(17, 214, 221);
}
.supplies-modal{
    display: none;
        background-color: black;
        border-radius: 4vh;
        box-shadow: 4vh 1vw 10vh 0vw #dadada;
        text-align: center;
        transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        color: rgb(17, 214, 221);
}
/* .modal {
    visibility: hidden;
    grid-area: modal;
        width: 50vw;
        max-width: 400px;
        padding: 30px;
        position: fixed;
        top: 45%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: black;
        border-radius: 4px;
        box-shadow: 4px 1px 10px 0px #dadada;
        text-align: center;
        transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        color: rgb(17, 214, 221);
} */
.open-modal{
    grid-area: modal;
    display:inherit;
    max-height: inherit;
    max-width: inherit;
    /* position: absolute;
    top: 60%; */
    height: 65vh;
    width: 30vw;
    opacity: 1;
}
.upgrade-items{
    list-style: none;
}
