body {
    background-color: aquamarine;
}
main{
     display: grid;
    width: 100vw;
    height: 100vh;
    grid-template:
    [header-left]'supplies supplies' 10vh [header-right]
    [main-left]' performance localeInfo' 25vh [main-right]
    [main-middle-left]'performance simulation'10vh[main-middle-right]
    [main-left]'settings simulation' 40vh [main-right]
    [footer-left]'settings simulation' 15vh [footer-right]
}
.status-bar{
    grid-area: supplies;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.performance {
    grid-area: performance;
}
.settings{
    grid-area: settings;
}
.locale-info{
    grid-area: localeInfo;
}
.locale-simulation{
    grid-area: simulation;
}
.start{
    font-size: xx-large;
}
/* #road {
    background: black;
    height: 100vh;
    width: 50px
}

#road>div {
    border-bottom: 1px solid rgba(255, 255, 255, 10);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px
}

#person {
    background: red;
    border-radius: 50%;
    width: 30px;
    height: 30px
}

#store {
    background: green;
    width: 50px;
    height: 60px;
    position: fixed;
    top: 27%;
    left: 2.75%
} */